body {
    font-family: 'Oswald', serif;
    background: #ffe4c2;
}

a {
    text-decoration: none;
    letter-spacing: 0.5px;
}

.navbar-light .navbar-brand {
    font-family: 'Oswald', sans-serif;
    color: #CF7500;
    font-weight: 900;
    text-shadow: 5px 5px 10px seashell;
    font-size: x-large;
    
}
span .logo {
    color: #CF7500;
}

.nav-link {
    transition: 0.3s ease-in;
}

.nav-link:hover {
    background-color: #CF7500;
}

.button {
    display: flex;
    padding-right: 15px;
    transition: ease 0.6s;
    align-content: flex-end;
}

.button:hover {
    transform: scale(0.8);
    filter: drop-shadow(0 0 0.75rem crimson);
}

.page-one {
    background-color: #ccbda9; 
}
.page-one img {
    filter: blur(0.1px);
}

.trending {
    background: linear-gradient(to right, rgb(63, 72, 100) 70%, rgb(255, 255, 255) 30%);
    border-radius: 8px;
}


.bilboard {
    font-size: 1.4rem;
    z-index: 3;
}


.search {
    border-radius: 20px;
}
.nearby {
    border-radius: 20px;
}
.lead {
    text-align: right;
}

.fa-fire {
    color: rgb(212, 67, 0);
}

.advertise {
    filter: saturate(130%);
}
.card-carousel {
    border: 5px #ffF;
}
.card-img-top {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.footer-links {
    color: rgb(5, 5, 5);
    text-decoration: none;
    position: relative;
}
.footer-nav li {
    list-style: none;
}

.social-icons img {
    display: inline-flex;
    height: 40px;
    width: 40px;
    margin: 10px;

}
.social-icons {
    transition: all 1.8s ease-in-out;
}
.social-icons img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.75rem rgb(75, 71, 71));

}
.container-fluid.social-media {
    background-color: #df9d47;
}